.dokuwiki #dokuwiki__content .plugin_tabbox.js {

  ul.tabs li.active a {
    background-color: inherit;
    color: inherit;
  }

  div.tabboxtab {
    background-color: inherit;
    border: none;
    padding: 0;
  }

  div.secedit {
  }

}
