.wrap_title {
  height: 24px;
  width: 140px;
  line-height: 24px;
  margin: 10px 0 10px 0;
  background-color: rgb(215, 25, 85);
  color: rgb(247 ,209, 221);
  background: linear-gradient(68deg, #d71955 120px, transparent 121px);

  &:first-child {
    margin-top: 5px;
  } 
}
.dokuwiki {
  .wrap_right {
    &.wrap_half,
    &.wrap_third,
    &.wrap_quarter,
    &.wrap_twothirds {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 992px) {

  .dokuwiki #dokuwiki__content {
    .wrap_half,
    .wrap_third,
    .wrap_quarter,
    .wrap_twothirds {
        width: auto;
        margin-right: 0;
        margin-left: 0;
        float: none;
    }
  }
}
