// Navbar =====================================================================

.navbar {
  border: 2px solid #355b83;
  background: url(../../src/theme/bg-pattern-blue-diamond-2.jpg);

  &-brand {
    line-height: 3;
    padding: 1.5px 13px;
    #dw__logo {
      height: 55px;
    }
  }
}

// Tables =====================================================================

table,
.table {
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid $table-border-color;
  }
}

// Headers =====================================================================

h3, .h3 { 
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 6px;
}

h2.page-header:not(#评论) {
  font-style: oblique;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  height: 52px;
  line-height: 52px;
  background: url(../../src/theme/h2-2.png) repeat-x;
  &::before {
    float: left;
    margin-left: -24px;
    width: 24px;
    height: 52px;
    content: "";
    background-image: url(../../src/theme/h2-1.png);
  }
  &::after {
    float: right;
    margin-right: -24px;
    width: 24px;
    height: 52px;
    content: "";
    background-image: url(../../src/theme/h2-3.png);
  }
}